// global styles go here


.centreDiv{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.bottomDiv{
    position: fixed;
    bottom: 5px;
    right: 5px;
    left: 5px;

}

.host-app{
    right: 5px;
    left: 5px;
}

.ojam-bar{
    background-color: #F1592A;
    margin-left: 0;
    margin-right: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    
}

.guestlink{
    font-size: 15px;
    color: white;
    float: right;
    padding-right: 30px;
}
